<section class="mat-typography">
  <h2 mat-dialog-title>Help</h2>
  <mat-dialog-content>
    <h2 >What is this?</h2>
    <p> This is a web app for you to post your favorite recipes and view recipes others have made. </p>

    <h2 >How can I post a recipe?</h2>
    <p>First, either create an account or sign in. Then, head over to the "Add" tab and fill out the form there.</p>

    <h2>How can I delete a recipe?</h2>
    <p>If you posted the recipe, you can click the garbage bin on the recipes page to delete. If a recipe has been flagged more than once, anyone is now allowed to delete that recipe.</p>

    <h2>How do I post a comment?</h2>
    <p>Sign in, then click on either the title or image of a recipe to view the recipe details, then scroll down to post a comment</p>

    <h2>How can I delete a comment?</h2>
    <p>The poster of the recipe, and the poster of the comment are both allowed to delete a given comment.</p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button color="primary" mat-dialog-close>Got it</button>
  </mat-dialog-actions>

</section>
